a {
  text-decoration: none;
}

.App {
  overflow: hidden;
  position: relative;
  text-align: center;
}

@media (max-width: 1500px) {
  .App {
    overflow: auto;
    overflow-y: scroll;
  }
}

.App-header {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}