@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

@font-face {
  font-family: 'selawk';
  src: local('selawk'), url(./fonts/selawk.ttf) format('truetype');
}

@font-face {
  font-family: 'Wood';
  src: local('Wood'), url(./fonts/Wood.ttf) format('truetype');
}

html, body, .App, #root {
  height: 100vh;
}

body {
  background:radial-gradient(circle at 11% 2%, rgba(110, 71, 13, 1) 0%, rgba(83, 47, 11, 1) 13%, rgba(56, 34, 6, 1) 48%, rgba(48, 22, 6, 1) 61%, rgba(35, 19, 2, 1) 75%, rgba(11, 1, 1, 1) 100%);
  position: relative;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Domine', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Wood',
    'selawk', 'selawkb', 'selawksb', 'selawksl', 'Bebas Neue', 'Kanit', 'Rozha One',
    sans-serif, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: url("./images/wood-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
